
@model BankingClientASM_MVC.BankingService.TransactionHistoryDto

@{
    ViewBag.Title = "TransferSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer Success</h2>
<div class="alert alert-success">
    You have just transfed success to @Model.ReceiverAccountNumber successfully !
</div>

