
@{
    ViewBag.Title = "TransferFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer Failed</h2>
<div class="alert alert-danger">
    You have just transfed failed, please try again!
</div>

