<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DANG-JINNER\SQLEXPRESS;Initial Catalog=BankingServiceASM;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	  <add key="TWILIO_ACCOUNT_SID" value="AC3d3336f55e56591728f7365c86ac8847" />
	  <add key="TWILIO_AUTH_TOKEN" value="91d6f5f380b960bc2827d855edb038c9" />
	  <add key="TWILIO_FROM_PHONE" value="+16205914451" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
	  <services>
		  <service name="BankingServiceASM.BankingService" behaviorConfiguration="BankingServiceASM_Behavior">
			  <endpoint address="" binding="wsHttpBinding" contract="BankingServiceASM.IBankingService" bindingConfiguration="BankingServiceASM_Config">
			  </endpoint>
		  </service>
	  </services>
	    <bindings>
			  <wsHttpBinding>
				  <binding name="BankingServiceASM_Config">
					  <security mode="Message">
						  <message clientCredentialType="UserName" />
					  </security>
				  </binding>
			  </wsHttpBinding>
	    </bindings>
	  <behaviors>
    <serviceBehaviors>
     <behavior name="BankingServiceASM_Behavior">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
      <serviceCredentials>
       <clientCertificate>
        <authentication certificateValidationMode="None" />
       </clientCertificate>
       <serviceCertificate findValue="BankingServiceASM" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />
       <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="BankingServiceASM.App_Code.Authentication.CustomValidator, App_Code/Authentication" />
      </serviceCredentials>
     </behavior>
     <behavior name="">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
    </serviceBehaviors>
   </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>